---
import MainLayout from "../layout/MainLayout.astro";
import MovieCard from "../components/MovieCard.astro";

const API_KEY = "26556575658af780cf7d1cdfa28bc314";
const response = await fetch(
  `https://api.themoviedb.org/3/movie/popular?api_key=${API_KEY}&language=es-ES`,
);
const { results: movies } = await response.json();
---

<MainLayout title="Movie Catalogue">
  <header class="header-catalog">
    <h1 class="header-catalog__title">Catalog of the movies</h1>
    <input
      type="text"
      class="header-catalog__search"
      placeholder="Search for a movie"
    />
    <button class="header-catalog__button">Search</button>

  </header>
<main>
  <div class="movies-container">
    {
      movies.map((movie: {
        poster_path: string;
        title: string;
        vote_average: number;
      }) => (
        <MovieCard
          class="movies-container__card"
          img={`https://image.tmdb.org/t/p/w500${movie.poster_path}`}
          title={movie.title}
          vote_average={movie.vote_average}
        />
      ))
    }
  </div>
</main>
  </MainLayout>

  <style>
     :root {
    /* Color Palette */
    --color-primary: oklch(0.55 0.25 275);       /* azul */
    --color-secondary: oklch(0.65 0.22 5);       /* Rosa fuerte */
    --color-accent: oklch(0.7 0.2 180);          /* Cian */
    --color-dark: oklch(0.25 0.05 265);          /* Azul oscuro */
    --color-light: oklch(0.98 0.01 100);      /*blanco */
    
    /* Typography */
    --font-main: 'Inter', system-ui, -apple-system, sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;  


    /*color*/
    --background-color:oklch(0.9117 0.0642 68.69);
    --background-color-light:oklch(0.8705 0.0542 68.69);


      /* Degradados */
    --gradient-primary: linear-gradient(120deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    --gradient-card: linear-gradient(to bottom, oklch(0.98 0 0 / 0) 50%, oklch(0.0 0 0 / 0.7) 100%);
  }


    .header-catalog {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    background: var(--gradient-primary);
    color: var(--color-light);  
  }


   .header-catalog__title {
    font-size: 3.5rem;
    margin: 0;
    background: linear-gradient(to right, var(--color-light), var(--color-accent));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-main);
   }

    .header-catalog__search {
      width: 100%;
      max-width: 350px;
      padding: 1em ;
      border-radius: 20px;
      border: 1px solid rgba(255,255,255,0.4);
      background-color: rgba(255,255,255,0.1);
      
       
    }
    .header-catalog__search::placeholder {
      color: var(--color-light);
      font-family: var(--font-main);
      font-weight: var(--font-weight-regular);
    }

    .header-catalog__button {
      padding: 0.5em 1.5em;
      border-radius: 20px;
      border: none;
      background-color: var(--color-accent);
      color: var(--color-dark);
      cursor: pointer;
      transition: all 0.3s ease;
    }
    .header-catalog__button:hover {
      background-color: var(--color-light);
    }

    .movies-container
    {
      background-color: var(--color-dark);
      padding: 2rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr); 
      gap: 2rem;
      justify-items: center;
    }
  </style>
