---
import MainLayout from '../layout/MainLayout.astro';


---

<MainLayout title="Movie Zone">
  
     <section class="contect-form"> 
    
       
       <label for=""> Nombre 
      <form  class="contect-form__contact" action=""> </label> <input type="text">

        <label for=""> Nombre 
      <form  class="contect-form__contact" action=""> </label> <input type="text">

        

      </form>

         
      
     </section>
   
  
</MainLayout>

<style>

section{
  background: linear-gradient(to right, var(--color-light), var(--color-accent)); 
  width:100%; 
}

.contect-form{
  display: flex;
  justify-content: center;
  margin: 10rem;
}

.contect-form__contact{
  width:60%;
}

</style>