---
import MainLayout from '../layout/MainLayout.astro';
---

<MainLayout title="Favoritos">
	<main>
		<a href="/movies">Ir a Catalogo</a>
		<a href="/favoritesSection">Ir a Favoritos</a>
	</main>
</MainLayout>

