---
import MainLayout from '../layout/MainLayout.astro';
import NavBar from '../components/navBar.astro';

import { ClientRouter } from "astro:transitions";
---

<head>
  <link rel="stylesheet" href="/styles/movie-card.css">
</head>

<MainLayout title="User Profile" >
  <ClientRouter />
  <header class="userProfile__header">
    <NavBar />
    <div class="userDetail">
      <figure class="userAvatar">
        <img src="/images/placegolderAvatar.png" alt="" />
      </figure>
      <h1 class="userProfile__title">User</h1>
    </div>
  </header>
  
  <main>
    <h1 class="userProfile__favoritesTitle">Tus Peliculas Favoritas</h1>
    <div id="favorites-container" class="movies-container" ></div>
    <h1 class="userProfile__favoritesTitle">Tus Actores Favoritos</h1>
    <div id="favorites-container-actors" class="movies-container" ></div>
  </main>

  <script type="module" src="/scripts/renderFavorites.js"></script>

</MainLayout>

<style>
html {
  background-color: var(--color-dark);
  height: 100svh;
}

    .userProfile__header {
    padding-bottom: 3rem;
    display: flexblox;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    background: var(--gradient-primary);
    color: var(--color-light);  
    }

    .userDetail {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.2rem;
        padding-left: 2rem;
        position: relative;
        top: 5rem;
    }

    .userAvatar, .userProfile__title{
        width: fit-content;
        padding-top: 2rem;
    }

    .userAvatar > img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border: 2px solid var(--color-accent);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

   main {
    width: 100%;
   }

   .userProfile__title {
    font-size: 3.5rem;
    text-align: center;
    margin: 0;
    color: aliceblue;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-main);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
    position: relative;
    top: 1.25rem;
    }

   .userProfile__favoritesTitle{
    width: fit-content;
    font-size: 2.75rem;
    top: 2rem;
    color: aliceblue;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-main);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding-left: 2rem;
    padding-top: 2.5rem;
    text-align: center;
    justify-self: center;
  }    

@media screen and (max-width: 380px) {
  .userAvatar > img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid var(--color-accent);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .userProfile__title{
    font-size: 2.5rem;
  }

  .userProfile__favoritesTitle{
    font-size: 1.8rem;
    left: 1.2rem;
  }
  
}


</style>


