---
const { title } = Astro.props;
import { ClientRouter } from "astro:transitions";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="./public/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <ClientRouter />
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
  }
  
  :root {
    /* Color Palette */
    --color-primary: oklch(0.55 0.25 275);       /* azul */
    --color-secondary: oklch(0.65 0.22 5);       /* Rosa fuerte */
    --color-accent: oklch(0.7 0.2 180);          /* Cian */
    --color-dark: oklch(0.25 0.05 265);          /* Azul oscuro */
    --color-light: oklch(0.98 0.01 100);      /*blanco */
    
    /* Typography */
    --font-main: 'Inter', system-ui, -apple-system, sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;  


    /*color*/
    --background-color:oklch(0.9117 0.0642 68.69);
    --background-color-light:oklch(0.8705 0.0542 68.69);


    /* degraded */
    --gradient-primary: linear-gradient(120deg, var(--color-primary) 0%, var(--color-secondary) 100%);
    --gradient-card: linear-gradient(to bottom, oklch(0.98 0 0 / 0) 50%, oklch(0.0 0 0 / 0.7) 100%);
  }
</style>